*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: auto;
}

.carousel {
  align-self: center;
  display: flex;
  margin-bottom: 35px;
  overflow-x: scroll;
  padding: 0 0 0 10px;
  text-align: center;
  width: 360px;
}

.slide-card img {
  width: 165px;
}

.main-container-slide-card {
  width: 360px;
}

.slide-card {
  margin-right: 10px;
}

